.h1_pos {
    text-align: center;
}

.signup-logo{ 
    text-align: center;
}

#signup {
    width: 400px;
}

.signup-button {
	background: #2c7ac9;
	color: #fff;
}

.errorMsg {
	color: red;
	font-weight: 700;
	font-size: 10px;
}
